nav {
  background-color: lightcyan;
}
#animals {
  background-color: lightcyan;
}
#favorite {
  background-color: #4f4f4f;
}
#quiz {
  background-color: lightcyan;
}
body {
  background-color: lightcyan;
}
